/* style.css */
/* Add your styles below */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('Images/Smoky\ Stones\ Firepit.png');
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
    background-color: black;
    background-attachment: fixed;

}

@media (max-width: 1000px){
    body{
        background-image: url('Images/PhoneBackground.png');
    }
}

main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

main h1 {
    padding-top: 10px;
}

header {
    color: #ffffff;
    text-align: center;
}

header h1{
    text-align: center;
    padding-top: 10px;
}

header h3{
padding-top: 15px;
padding-bottom: 15px;
}

.nav-tabs{
    display: flex;
padding-top: 20px;
width: 100%;
justify-content: space-evenly;
}

.tab-link{
    align-items: center;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.tab-link:hover{
    color: darkorange;
}

.expectations {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.expectations h2 {
    text-align: center;
}

.expectations-card {
    background: rgba(0, 0, 0, 0.75);
    color: white;
    border-left: 4px solid #4CAF50;
    border-radius: 15px;
    padding-left: 20px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    width: 25vw;
    padding-right: 10px;
}

.expectations-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-left: 4px solid darkorange;
}

.about-slider h2{
    text-align: center;
}

    .about-slider {
    padding-top: 20px;
    max-width: 25vw;
    position: relative;
}

.card {
    display: none;

    background: rgba(0,0,0,.65);
    padding: 30px;
    border-radius: 20px;
    text-align: center;
}

.card.active {
    display: block;
}

.controls {
    text-align: center;
    margin-top: 20px;
    background: rgba(0,0,0,.65);
    width: 150px;
    border-radius: 30px;
    margin: 20px auto;
}

.controls button {
    font-size: 2rem;
    background: none;
    border: none;
    color: darkgreen;
    cursor: pointer;
    margin: 0 20px;
}

.controls button:hover {
    transform: scale(1.2);
    color: darkorange;
}

@media (max-width: 1000px){
    .expectations-card {
        width: 80vw;
    }
    .about-slider {
        max-width: 80vw;
    }
    main {
        flex-direction: column;
        align-items: center;
    }
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    background: rgba(0, 0, 0, 0.85);
    color: white;
    text-align: center;
    padding: 5px;

    font-size: 10px;
}
