/* style.css */
/* Add your styles below */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('Images/Smoky\ Stones\ Firepit.png');
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
    background-color: black;
    background-attachment: fixed;

}

@media (max-width: 1000px){
    body{
        background-image: url('Images/PhoneBackground.png');
    }
}

main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

main h1 {
    padding-top: 10px;
}

header {
    color: #ffffff;
    text-align: center;
}

header h1{
    text-align: center;
    padding-top: 10px;
}

header h3{
padding-top: 15px;
padding-bottom: 15px;
}

.nav-tabs{
    display: flex;
padding-top: 20px;
width: 100%;
justify-content: space-evenly;
}

.tab-link{
    align-items: center;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.tab-link:hover{
    color: darkorange;
}

.Fall-Title{
    text-align: center;
    padding-top: 20px;
}

.Fall-P{
    text-align: center;
    padding-bottom: 20px;
}

.classes-table {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.class-card {
    display: flex;
    flex-direction: row;
    margin: 20px;
    align-items: center;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    justify-content: left;
}
.class-card h3 {
    padding-right: 10px;
    width: 200px;
    padding-left: 10px;
}
.class-card p {
    border-left: 2px solid white;
    padding-left: 20px;
    padding-right: 20px;
    width: calc(100vw - 250px);
}

