/* style.css */
/* Add your styles below */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('Images/Smoky\ Stones\ Firepit.png');
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
    background-color: black;
    background-attachment: fixed;

}

@media (max-width: 1000px){
    body{
        background-image: url('Images/PhoneBackground.png');
    }
}
main h1 {
    padding-top: 10px;
}

header {
    color: #ffffff;
    text-align: center;
}

header h1{
    text-align: center;
    padding-top: 10px;
}

header h3{
padding-top: 15px;
padding-bottom: 15px;
}

.nav-tabs{
    display: flex;
padding-top: 20px;
width: 100%;
justify-content: space-evenly;
}

.tab-link{
    align-items: center;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.tab-link:hover{
    color: darkorange;
}

.instructors {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 10px;
    border-radius: 25px;    
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 60px;

}

#instructor-p{
    padding-bottom: 5px;
    border-bottom: 3px solid white;
}

#Sam1, #Sam2, #Sam3 {
    width: 15vw;
    min-width: 150px;
    height: auto;
    border-radius: 10px;
    margin: 10px;
}

#SamBio{
    width: 25vw;
    height: auto;
    border-radius: 10px;
    margin: 10px;
}

.left-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.instructor-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-bottom: 3px solid white;
    padding-bottom: 5px;
}

.instructor-card h3{
    margin-top: 30px;
}

@media (max-width: 1000px){
   .instructor-content {
    flex-direction: column;
    flex-wrap: wrap;
    }
    #SamBio{
        width: 80vw;
    }
    .left-column{
        flex-direction: row;
        flex-wrap: wrap;
    }
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    background: rgba(0, 0, 0, 0.85);
    color: white;
    text-align: center;
    padding: 5px;

    font-size: 10px;
}
